#wrapper[b-9bv51t0sfr] {
    width: 100%;
    overflow: hidden;
}

#first[b-9bv51t0sfr] {
    width: auto;
    float: left;
    border-radius: 25px;
    height: 50%;
}

#second[b-9bv51t0sfr] {
    overflow: hidden;
    border-radius: 25px;
    height: 50%;
}
