@page "/"
@using MasProjekt.Backoffice.Models.Customers
@using Blazored.Typeahead
@using ProtegoFrontend.Backoffice.Models
@using ProtegoFrontend.Connection
@inject HttpClient Http
@inject NavigationManager NavManager

<head>
    <link href="_content/Blazored.Typehead/blazored-typehead.css" rel="stylesheet" />
</head>


<body>
<div style="text-align: center">
    <img src="Assets/logo2.png" width="650"/>
</div>
<div style="text-align: center">
    <h1 style="font-family: Arial; color:deepskyblue; text-align:center">Login</h1>
</div>
<div style="text-align: center">
        <input type="text" id="login" placeholder="Login" @bind="Login" />
        <input type="password" id="password" placeholder="password" @bind="Password" />
        <p></p>
        <button style="background-color:deepskyblue; border: none; color: white; text-align: center; text-decoration: none; font-size: 16px; padding: 15px 32px;" @onclick="GetCustomerAndChangePage">Log in</button>
</div>

<div>
    <img style="position:absolute; bottom:0; width:85%; height:30%" src="Assets/mountains.png" />
</div>

</body>

@code{
    private string Login { get; set; } = "";
    private string Password { get; set; } = "";
    protected async override void OnInitialized()
    {
      
    }

   @* private async Task<IEnumerable<Customer>> SearchCustomer(string searchText)
    {
        return await Task.FromResult(Customer.Customers.Where(x => x.ContactNumber.Contains(searchText)).ToList());
    }*@

    private async void GetCustomerAndChangePage()
    {
        var result = await Http.GetStringAsync($"https://localhost:44394/controller/Login/{Login}/{Password}");
        if (result != null)
            NavManager.NavigateTo($"/Dashboard");
    }

}

